<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment4</title>
</head>
<body>
    <h1>Yiming Li 6417   Yilong Xiao 6029</h1>
    <p>Please select the feature you want to implement:</p>
    <a href="index_city">Create a webpage for users to input a city name and its state name, to query the distances of cities to that given city in ascending order, the results shall be in a bar chart, 50 cities per page.</a>
    <br>
    <h1></h1>
    <a href="index_review">Create a webpage for users to input a city name and its state name, to query the average review score of each city sorted by the distance to that given city in ascending order, the results shall be in a line chart, 10 cities per page.</a>
    <br>
    <h1></h1>
    <a href="index_knn">Based on Q11 of assignment3, please show the clustering result in a pie chart (the inputs and buttons shall be functional to generate a new pie chart). each segment represents a class, using the total population of that class as the value.</a>
</body>
</html>