<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Yiming Li 6417   Yilong Xiao 6029</h1>
<h2>This process may take about 20-30 seconds, please be patient and wait. Thank you</h2>
<h1>KNN Clustering</h1>
    <form action="/knn_reviews" method="post">
        <label for="classes">Classes:</label>
        <input type="number" id="classes" name="classes" value="3" required>

        <label for="k">K:</label>
        <input type="number" id="k" name="k" value="3" required>

        <label for="words">Words:</label>
        <input type="number" id="words" name="words" value="5" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>